body {
  background-color: #f7f3e9;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glitch {
  position: relative;
  font-family: sans-serif;
  font-size: 7em;
  text-transform: uppercase;
  text-shadow: 6px -6px 0px #fd5f00;
  background: repeating-linear-gradient(45deg, #005792, #005792 1px, #fff 2px, #fff 3px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #f7f3e9;
  color: #fd5f00;
  clip: rect(0, 900px, 0, 0);
  overflow: hidden;
}
.glitch::before {
  left: 7px;
  text-shadow: 1px 0 #fd5f00;
  animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: 3px;
  text-shadow: -1px 0 #fd5f00;
  animation: glitch-effect 2s infinite linear alternate-reverse;
}

@keyframes glitch-effect {
  0% {
    clip: rect(5px, 9999px, 71px, 0);
  }
  5% {
    clip: rect(2px, 9999px, 4px, 0);
  }
  10% {
    clip: rect(12px, 9999px, 62px, 0);
  }
  15% {
    clip: rect(10px, 9999px, 8px, 0);
  }
  20% {
    clip: rect(43px, 9999px, 10px, 0);
  }
  25% {
    clip: rect(30px, 9999px, 35px, 0);
  }
  30% {
    clip: rect(64px, 9999px, 49px, 0);
  }
  35% {
    clip: rect(48px, 9999px, 48px, 0);
  }
  40% {
    clip: rect(93px, 9999px, 41px, 0);
  }
  45% {
    clip: rect(95px, 9999px, 71px, 0);
  }
  50% {
    clip: rect(86px, 9999px, 88px, 0);
  }
  55% {
    clip: rect(35px, 9999px, 10px, 0);
  }
  60% {
    clip: rect(61px, 9999px, 52px, 0);
  }
  65% {
    clip: rect(64px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(10px, 9999px, 27px, 0);
  }
  75% {
    clip: rect(15px, 9999px, 55px, 0);
  }
  80% {
    clip: rect(86px, 9999px, 60px, 0);
  }
  85% {
    clip: rect(97px, 9999px, 2px, 0);
  }
  90% {
    clip: rect(30px, 9999px, 33px, 0);
  }
  95% {
    clip: rect(83px, 9999px, 57px, 0);
  }
  100% {
    clip: rect(56px, 9999px, 50px, 0);
  }
}